/* --------------- */
/* FOOTER */
/* --------------- */

footer {
  background-color: $black;
  padding: 50px;

  .footer-nav {
    list-style: none;
    float: left;
  }

  .social-links {
    list-style: none;
    float: right;
  }

  .footer-nav li, 
  .social-links li {
    display: inline-block;
    margin-right: 20px;
  }

  .social-links li:last-child {
    margin-right: 0;
  }

  .footer-nav li a:link, 
  .footer-nav li a:visited, 
  .social-links li a:link, 
  .social-links li a:visited {
    text-decoration: none;
    border: none;
    color: $mid-gray;
    transition: color .25s;
  }

  .footer-nav li a:hover, 
  .footer-nav li a:active {
    color: $light-gray;
  }

  .social-links li a:link, 
  .social-links li a:visited {
    font-size: 1.2rem;
  }

  .ion-social-facebook:hover {
    color: #3b5998;
  }

  .ion-social-twitter:hover {
    color: #00aced;
  }

  .ion-social-googleplus:hover {
    color: #dd4b39;
  }

  .ion-social-instagram:hover {
    color: #517fa4;
  } 

  p { 
    text-align: center;
    font-size: .8rem;
    margin-top: 20px;
  }

 


}

