/* --------------- */
/* MEALS */
/* --------------- */

.section-meals {
  padding: 0;//remove the initial padding for sections in grid

  .meals-showcase {
    width: 100%;
    list-style: none;

    li {
      display: block;
      width: 25%;
      float: left;

      .meal-photo {
        background-color: black;
        width: 100%;
        margin: 0; // Normalize add margin to figure tag so needs to be reset to zero.//
        overflow: hidden; //Hide part of the image that exceeds the container after scale

        img {
          width: 100%;
          height: auto;
          opacity: .5; //image transparency to see black background
          -webkit-transform: scale(1.8); //image transparency to see black background
                  transform: scale(1.8); //feels the empty space around the image.//
          transition: -webkit-transform .5s, opacity .5s; //feels the empty space around the image.//
          transition:         transform .5s, opacity .5s; //trasition transform and opacity in hover in .5 secs

          &:hover {
            opacity: 1;
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
          }
        }

      }//.meals-showcase li .meal-photo

    }//.meals-showcase li

  }//.meals-showcase // 

} //.section meals // 

