/* --------------- */
/* grid */
/* --------------- */
section {
  padding: 4rem 0; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

.box {
  padding: 1%; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.box {
  padding: 1%; }

.share-headings, header .hero-text-box h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300; }

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: background-color .2s, color .2s, border .2s; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px; }

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17; }

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22; }
.btn-ghost:hover, .btn-ghost:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: #fff; }

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 4px;
  font-style: i;
  transition: color .25s, border-bottom .25s; }

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent; }

.icon-big {
  display: block;
  font-size: 2rem;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center; }

.icon-small {
  display: inline-block;
  width: 30px;
  font-size: 1.2rem;
  text-align: center;
  color: #e67e22;
  margin-right: 10px;
  line-height: 1.2rem;
  vertical-align: middle;
  margin-top: -5px; }

/* --------------- */
/* HEADER */
/* --------------- */
header {
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.7), #000), url("img/hero-min.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), #000), url("img/hero-min.jpg") no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  header .logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; }
  header .main-nav {
    float: right;
    list-style: none;
    margin-top: 61px; }
    header .main-nav li {
      display: inline;
      margin-left: 40px; }
      header .main-nav li a {
        padding: 10px 0;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
        word-spacing: 3px;
        transition: border-bottom .2s; }
        header .main-nav li a:link, header .main-nav li a:visited {
          border-bottom: 3px solid transparent; }
        header .main-nav li a:hover, header .main-nav li a:active {
          border-bottom: 3px solid #e67e22; }
  header .hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header .hero-text-box h1 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #fff;
      font-size: 3rem;
      word-spacing: 3px;
      letter-spacing: 1px; }

/* --------------- */
/* FEATURES */
/* --------------- */
h2 {
  font-size: 1.8rem;
  word-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px; }
  h2:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; }

.long-copy {
  line-height: 150%;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px; }

h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: center; }

.box p {
  font-size: 0.9rem;
  line-height: 150%;
  text-align: center; }

/* --------------- */
/* MEALS */
/* --------------- */
.section-meals {
  padding: 0; }
  .section-meals .meals-showcase {
    width: 100%;
    list-style: none; }
    .section-meals .meals-showcase li {
      display: block;
      width: 25%;
      float: left; }
      .section-meals .meals-showcase li .meal-photo {
        background-color: black;
        width: 100%;
        margin: 0;
        overflow: hidden; }
        .section-meals .meals-showcase li .meal-photo img {
          width: 100%;
          height: auto;
          opacity: .5;
          -webkit-transform: scale(1.8);
          transform: scale(1.8);
          transition: -webkit-transform .5s, opacity .5s;
          transition: transform .5s, opacity .5s; }
          .section-meals .meals-showcase li .meal-photo img:hover {
            opacity: 1;
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }

/* --------------- */
/* STEPS */
/* --------------- */
.section-steps {
  background: #eee url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/45degreee_fabric.png) repeat; }
  .section-steps .btn-app:link, .section-steps .btn-app:visited {
    border: none; }
  .section-steps .btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px; }

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px; }
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 90px; }
.steps-box .app-screen {
  width: 50%;
  height: auto; }

.works-step {
  margin-bottom: 50px; }
  .works-step:last-of-type {
    margin-bottom: 100px; }
  .works-step .number {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    color: #e67e22;
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-align: center;
    padding: 0.7rem;
    float: left;
    margin-right: 25px; }

/* --------------- */
/* CITIES */
/* --------------- */
.section-cities .box > img {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }
.section-cities .city-feature {
  margin-bottom: 5px; }

/* --------------- */
/* TESTIMONIALS */
/* --------------- */
.section-testimonials {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), #000), url(img/back-customers-min.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), #000), url(img/back-customers-min.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: #fff; }
  .section-testimonials blockquote {
    position: relative;
    padding: 1%;
    font-style: italic;
    line-height: 150%; }
    .section-testimonials blockquote:before {
      content: "\201C";
      font-size: 4.5rem;
      display: block;
      position: absolute;
      left: -3px;
      top: 0; }
  .section-testimonials cite {
    display: block;
    font-size: .9rem;
    margin-top: 25px;
    color: #e67e22; }
    .section-testimonials cite > img {
      height: 60px;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle; }

/* --------------- */
/* PLANS */
/* --------------- */
.section-plans {
  background: #eee url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/45degreee_fabric.png) repeat; }
  .section-plans .plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 0 2px #555; }
    .section-plans .plan-box > div {
      padding: 15px;
      border-bottom: 1px solid #e8e8e8; }
      .section-plans .plan-box > div:first-child, .section-plans .plan-box > div:last-child {
        text-align: center; }
      .section-plans .plan-box > div:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #fcfcfc; }
      .section-plans .plan-box > div:last-child {
        border-bottom: none; }
      .section-plans .plan-box > div .plan-price {
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 10px;
        color: #e67e22; }
        .section-plans .plan-box > div .plan-price span {
          font-size: 1rem;
          font-weight: 300; }
      .section-plans .plan-box > div .plan-price-meal {
        font-size: 0.9rem; }
    .section-plans .plan-box ul {
      list-style: none; }
      .section-plans .plan-box ul li {
        padding: 5px 0; }
    .section-plans .plan-box .btn-full {
      margin-right: 0; }

/* --------------- */
/* CONTACT */
/* --------------- */
form {
  width: 60%;
  margin: 0 auto; }

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #e8e8e8; }

input[type=checkbox] {
  margin: 10px 5px 10px 0; }

select {
  height: 40px; }

textarea {
  height: 100px; }

*:focus {
  outline: none; }

/* --------------- */
/* FOOTER */
/* --------------- */
footer {
  background-color: #000;
  padding: 50px; }
  footer .footer-nav {
    list-style: none;
    float: left; }
  footer .social-links {
    list-style: none;
    float: right; }
  footer .footer-nav li,
  footer .social-links li {
    display: inline-block;
    margin-right: 20px; }
  footer .social-links li:last-child {
    margin-right: 0; }
  footer .footer-nav li a:link,
  footer .footer-nav li a:visited,
  footer .social-links li a:link,
  footer .social-links li a:visited {
    text-decoration: none;
    border: none;
    color: #555;
    transition: color .25s; }
  footer .footer-nav li a:hover,
  footer .footer-nav li a:active {
    color: #e8e8e8; }
  footer .social-links li a:link,
  footer .social-links li a:visited {
    font-size: 1.2rem; }
  footer .ion-social-facebook:hover {
    color: #3b5998; }
  footer .ion-social-twitter:hover {
    color: #00aced; }
  footer .ion-social-googleplus:hover {
    color: #dd4b39; }
  footer .ion-social-instagram:hover {
    color: #517fa4; }
  footer p {
    text-align: center;
    font-size: .8rem;
    margin-top: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #fff;
  color: #555;
  font-family: 'lato', "Helvetica Neue Arial", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/*# sourceMappingURL=style.css.map */
