//This grid is based on the grid file on vendors/css/grid.css

/* --------------- */
/* grid */
/* --------------- */

section {
  padding: 4rem 0; //80px padding
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.box {
  padding: 1%;
}
